
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron_c

{
        text-align: center;
        background-color: #e9ecef;

}

.jumbotron_c

{
        text-align: center;
        background-color: #e9ecef;

}